div.main {
    display: flex;
    min-height: 40vh;

}

aside.Scoreboard {
    min-width: 20%;
}

.question {
    min-width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
}

.result {
    min-height: 100%;
    min-width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 640px) {
    div.main {
        flex-direction: column;

    }

    aside.Scoreboard {
        margin-bottom: 20px;
        order: -1;
    }
}