div.Game {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

div.main{
    display: flex;
    flex-grow: 1;
    min-height: 40vh;

}

aside.Scoreboard {
    min-width: 30%;
    background-color: #999;
}
div.Result{
    min-width: 70%;
    background-color: #888;
}
div.Question{
    display: flex;
    background-color: #777;
    min-height: 50vh;
}

