div.Game {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    

}

div.main{
    display: flex;
    flex-grow: 1;
    min-height: 40vh;

}

aside.Scoreboard {
    min-width: 20%;
}
div.Result{
    min-width: 80%;
}
div.Question{
    display: flex;
    min-height: 50vh;
}

