.answers {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 70%;

}


.question h2 {
    color: honeydew;
    font-size: 30px;
    padding: 40px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}

.answer {
    width: 45%;
}


.answers button {
    flex-basis: 45%;
    min-width: 100%;
    padding: 40px 50px;
    font-size: 25px;
    border-radius: 30%;
    border: 4px solid black;
    outline: none;
    background-color: RGB(2, 45, 130);
    cursor: pointer;
    transition: 0.8s;
}

.answer button:hover {
    background-color: RGB(243, 163, 6);

}

#choosen {
    background-color: RGB(243, 163, 6);

}

.final button {
    padding: 30px 80px;
    background-color: RGB(243, 163, 6);
    border-radius: 40%;
    transition: 0.5s;
}

@media (max-width: 640px) {


    .question h2 {
        font-size: 25px;

    }

    .answer {
        width: 80%;
    }

    .answers button {
        padding: 20px 20px;
        margin: 10px 0;
    }

}

@media (max-width: 1024px) and (orientation: landscape) {

    .question h2 {
        font-size: 20px;

    }

    .answer {
        width: 80%;
    }

    .answers button {
        padding: 20px 20px;
        margin: 10px 0;
        font-size: 20px;
    }


}