.lose {
    text-align: center;
    color: white;
}

.lose h1 {
    padding: 30px;
    font-size: 50px;
    color: red;
    text-transform: uppercase;
}

.lose p {
    font-size: 40px;
    padding: 30px;
}

.won {
    text-align: center;
    color: white;

}

.won h1 {
    padding-top: 20px;
    font-size: 50px;
    color: green;
    text-transform: uppercase;
}

.won p {
    font-size: 50px;
    padding: 10px;

}

img.money {
    border-radius: 10%;
    width: 40%;

}

p span {
    color: green;
    text-transform: uppercase;
}

button.newGame {
    margin: 0 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    padding: 30px 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: RGB(243, 163, 6);
    border-radius: 40%;
    outline: none;
    border: 2px solid black;
}

@media (max-width: 640px) {

    .won h1 {
        font-size: 30px;
    }

    .won p {
        font-size: 20px;
    }

    img.money {
        width: 80%;

    }

    button.newGame {
        padding: 30px 15px;
    }

    .lose p {
        font-size: 30px;
    }

    .lose p {
        font-size: 20px;

    }
}